.card.small{
	height: 200px;
	margin-bottom: 3px;
}

.input-field label {
     color: #82C8F0;
   }

 /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #82C8F0;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #82C8F0;
   }

.tabs .indicator { 
  background-color: #2196f3 !important; 
  color: #2196f3 !important;
}

#score_table th, td{
  text-align:center;
}
.score_row{
  margin:0px;
  padding:0px;
}
h3{
  margin:0px;
}

#minus{
  font-size:5px;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;  
}
#modal-overlay{
  display:none;
  z-index:4999;
  height:100%;
  width:100%;
  position:fixed;
  top:0px;
  left:0px;
}

.modal{
  z-index:5000;
}
